<div id="assignment-submits">
  <div class="box">
    <div class="box-header with-border">
      <% if current_user.lecturer? %>
        <%= render "class_rooms/class_header" %>
      <% else %>
        <%= render "students/class_rooms/class_header" %>
      <% end %>
    </div>

    <div class="box-body">
      <%= render @assignment_submit %>
    </div>
  </div>
</div>
