<div id="class_rooms">
  <h2>
    <%= t "class_rooms.all" %>
    <%= link_to new_admin_class_room_path do %>
      <i class="glyphicon glyphicon-plus"></i>
    <% end %>
  </h2>
  <table class="class_rooms table table-header">
    <thead><%= render "admin/class_rooms/header" %></thead>
    <tbody class="tbody">
      <%= render "admin/class_rooms/class_room", class_rooms: @class_rooms %>
    </tbody>
  </table>
</div>
