<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <%= render "posts/form", object: forum %>
  </div>
</div>

<div>
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <%= render "forums/list_post", post: post, forum: forum %>
    <% end %>
    <%= paginate @posts %>
  <% end %>
</div>
