<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <%= render "posts/form", object: forum %>
  </div>
</div>

<div>
  <% if @posts.any? %>
    <div class="posts-list">
      <%= render "forums/posts" %>
    </div>
    <%= will_paginate @posts %>
  <% end %>
</div>
