<div id="forums">
  <div class="row">
    <aside class="col-md-4">
      <section class="micropost_form">
        <%= render 'posts/form' %>
      </section>
    </aside>
    <div id="posts" class="col-md-7">
      <h3><%= t "posts.posts" %></h3>
      <% if @posts.any? %>
        <ul>
          <%= render @posts %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
