<div id="forums">
  <div class="row">

    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <%= render "posts/form", object: @forum %>
        </div>
      </div>

      <div>
        <% if @posts.any? %>
          <%= render @posts %>
        <% end %>
      </div>
    </div>
  </div>
</div>
