<% if current_user.lecturer? && @class_room.lecturer && current_user ==
  @class_room.lecturer.user %>
  <%= render "assignments/form" %>
  <div class="btn-new-assignment btn btn-primary"
    data-class-room="<%= @class_room.id %>">
    <%= t "assignments.actions.new" %>
  </div>
<% end %>
