<% if current_user.lecturer? && @class_room.lecturer && current_user ==
  @class_room.lecturer.user %>
  <a class="modal-trigger btn-floating waves-effect waves-light red" href="#new-assignment-modal">
    <i class="material-icons">add</i>
  </a>
  <%= render "assignments/new_assignment_modal" %>
<% end %>
