<div id="class_rooms">
  <table class="class_rooms table table-hover">
    <thead><%= render "header" %></thead>
    <tbody class="tbody">
      <%= render @class_room %>
    </tbody>
  </table>
</div>
