<% if show_login_class? current_user, @class_room %>
  <%= render "user_classes/form" %>
  <div class="btn-login-class btn btn-primary">
    <% if current_user.lecturer? %>
      <%= t "class_rooms.teachers.login" %>
    <% else %>
      <%= t "class_rooms.students.login" %>
    <% end %>
  </div>
<% end %>
