<tr class="student-<%= student.id %> trow" >
  <td class="uid">
    <%= link_to student.user.email, "#" %>
  </td>
  <td class="name"><%= student.created_at %></td>
  <td class="action">
    <%= link_to t("form.buttons.delete"),
      user_class_path(student), remote: true,
      data: {confirm: t("form.confirmation")},
      method: :delete, class: "icon icon-delete delete-student" %>
  </td>
</tr>
