<div id="class_rooms">
  <h2><%= t "class_rooms.all" %></h2>
  <table class="class_rooms">
    <thead><%= render "header" %></thead>
    <tbody class="tbody">
      <%= render @class_rooms %>
    </tbody>
  </table>
</div>
