<div id="class_rooms">
  <div class="box box-danger">

    <div class="box-header with-border">
      <h3 class="box-title"><%= t "class_rooms.all" %></h3>

      <div class="box-tools pull-right">
        <span class="label label-danger"><%= @class_rooms.count %></span>

        <div id="sorts" class="btn-group button-group">
          <button class="button is-checked" data-sort-by="name">name</button>
          <button class="button" data-sort-by="uid">uid</button>
          <button class="button" data-sort-by="status">status</button>
          <button class="button" data-sort-by="type">type</button>
        </div>
      </div>
    </div>

    <div class="box-body no-padding">
      <div class="classes-list clearfix">
        <%= render @class_rooms %>
      </div>
    </div>
  </div>
</div>
