<div id="courses">
  <div class="row">
    <div class="col-md-6">
      <div class="box box-success">
        <%= render "course_box" %>
      </div>

      <% if @course.course_references.any? %>
        <div class="box box-warning">
          <%= render "references_box" %>
        </div>
      <% end %>
    </div>

    <div class="col-md-6">
      <%= render "syllabus_box" %>
    </div>
  </div>

</div>
